{% load static %}
{% for commento,l in commenti %}
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="{% static 'default.jpg' %}">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{commento.owner.username}}</strong>
                    <br>
                    {{commento.commento}}
                    <br>
                    <small>
                        <a href="{% url "pasto-reply-like" commento.pk %}">
                            {{ commento.likes }} 
                            <span class="icon">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </span> 
                        </a>
                        <a href="{% url 'pasto-reply' pasto.pk commento.pk %}">rispondi</a>
                    </small>
                </p>
            </div>
            {% if l %}
            {% with commenti=l %}
                {% include "pasto/commento.html" %}
            {% endwith %}
            {% endif %}
            
        </div>
    </article>
{% endfor %}