{% extends 'layouts/base.html'%}

{% load static widget_tweaks %}

{% block title %}Progetto Tech Web - Details Pasto{% endblock %}

{% block content %}
<div class="card">
    {% if user.pk %}
    <div class="card-header">
        <div class="card-header-title">Autore: {{ pasto.owner.username }}</div>
    </div>
    {% else %}
    <div class="card-header">
        <div class="card-header-title">Autore: anonimo</div>
    </div>
    {% endif %}
    <div class="card-content">
        <div class="field">
            <label for="" class="label">Foto:</label>
        {% if pasto %}
            {% if pasto.foto %}
            <figure class="image">
                <img src="{{pasto.foto.url}}">
            </figure>
            {% else %}
            Nessuna foto inserita
            {% endif %}
        {% endif %}
        </div>
        <div class="field">
            <label for="" class="label">Descrizione:</label>
            {{ pasto.descrizione }}
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label for="" class="label">Kcal:</label>
                    {{ pasto.kcal }}
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label for="" class="label">Tipo:</label>
                    {{ pasto.tipo_verbose }}
                </div>
            </div>
        </div>
        <div class="field">
            <label for="" class="label">Data:</label>
            {{ pasto.date }}
        </div>
    </div>
    <div class="card-footer">
        <a href="{% url "pasto-like" pasto.pk %}" class="card-footer-item">
            {{ pasto.likes }} 
            <span class="icon">
                <i class="fa-solid fa-thumbs-up"></i>
            </span> 
        </a>
    </div>
</div>
<div class="m-2">
    {% if user.pk %}
        {% include "pasto/commento.html" %}
    {% else %}
        <strong class="has-text-danger">Sezione commenti disabilitata per gli utenti guest.</strong>
    {% endif %}
</div>
<form action="{% url 'pasto-reply' pasto.pk %}" method="post">
    {% csrf_token %}

    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
        </figure>
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <textarea class="textarea" name="commento" maxlength="512" placeholder="Add a comment..."></textarea>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button">Post comment</button>
                </p>
            </div>
        </div>
    </article>
</form>
{% endblock %}